<% if video.transcribed? %>
  <a class="btn btn-default btn-sm" href=<%= video.transcription %> target="_blank">
    <%= t('videos.download') %>
    <i class="fa fa-download" aria-hidden="true"></i>
  </a>
<% elsif local_assigns.fetch(:upload) { uploadable?(video) } %>
  <%= form_for video, url: transcription_video_path(video), method: :post, :html => { :class => "form-inline" } do |f| %>
    <div class="form-group">
      <%= t('videos.no_trans_upload_now') %>
      <%= f.file_field :transcription_file, :class => 'btn btn-default btn-sm upload-input' %>
    </div>
    <%= f.button :class => 'btn btn-primary btn-sm' do %>
      <%= t('videos.upload') %>
      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <% end %>
  <% end %>
<% else %>
  <%= t('videos.no_trans') %>
<% end %>
